#app-ch-news-feed {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
	color: #2e2d2d;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 10px;
    background-color:#E3E5E6;
}

.ch-news-feed-form-wrapper {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

.ch-news-feed-post-textarea {
    border: 1px solid #ccd0d5;
    background-color: #f2f3f5;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ch-news-feed-post-wrapper {
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.ch-news-feed-content-wrapper {   
    position: relative;
}

.ch-news-feed-more-options-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    img.more-options-icon {
        height: 15px;
        width: 20px;
        cursor: pointer;
    }
    div.more-options-action-wrapper {
        position: relative;
        visibility: hidden;
    }
    div.more-options-action {
        position: absolute;
        top: -7px;
        right: 1px;
        border: 1px solid #ccd0d5;
        background-color: #F2F3F5;
        span {
            width: 60px;
            font-size: 12px;
            font-weight: 600;
            color: #7b7b7b;
            cursor: pointer;
            display: block;
            padding: 2px 15px;
        }
        span:hover {
            color: #ffffff;
            background-color: #7b7b7b;
        }
    }
}

div.ch-news-feed-more-options-wrapper:hover {
    div.more-options-action-wrapper {
        visibility: visible;
    }
}

.ch-news-feed-main-table {
    width: 100%;
    .left-cell {
        width: 45px;
    }
    .right-cell {
        text-align: left;
        vertical-align: middle;
    }
}

.ch-news-feed-comment-table {
    width: 100%;
    .left-cell {
        width: 35px;
        vertical-align: top;
    }
    .right-cell {
        text-align: left;
        vertical-align: middle;
    }    
}

.ch-news-feed-editable-comment-wrapper {
    text-align: right;
    button {
        margin-top: 5px;
        cursor: pointer;
    }
}

img.ch-news-feed-primary-avatar {
    height: 40px;
    width: 40px;
}

img.ch-news-feed-secondary-avatar {
    height: 30px;
    width: 30px;
}

.ch-news-feed-notification-wrapper {
    margin-top: 5px;
    font-size: 12px;
    span {
        cursor: pointer;
        display: inline-block;
        margin-right: 10px;
    }
}

.ch-news-feed-notification-action-wrapper {
    padding: 5px 0;
    font-size: 12px;
    label {
        display: inline-block;
        margin-right: 5px;
        cursor: pointer;
        font-weight: 600;
    }
    .liked {            
        color: #059e90;
    }
}

span.ch-news-feed-element-user-id {
    display: block;
    font-size: 14px;
    font-weight: 600;
}

span.ch-news-feed-element-date {
    display: block;
    font-size: 11px;
}

.ch-news-feed-element-description {
    font-size: 12px;
    text-align: justify;
    margin: 0;
    p {
        margin: 0;
    }
}

a.ch-news-feed-see-more-description {
    text-decoration: none;
    color: #8a8a8a;
}

.ch-news-feed-write-comments-text-box {
    font-size: 12px;
    border: 1px solid #ccd0d5;
    background-color: #f2f3f5;
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
